@{
    ViewBag.Title = "Maintenance";
}

<h2>Maintenance</h2>

<table>
    <tr>
        <th>Look Up Name</th>
        <th></th>
    </tr>
    <tr>
        <td>Genre Type</td>
        <td>@*@Html.ActionLink("Edit", "GenreType", "Maintenance")*@</td>
    </tr>
</table>
